{%load static%}
<footer class="_vc_zs_qw">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-12">
          <div class="_nb_cd_er">
            <h2>About Us</h2>
            <p>{{abt.about}}</p>
                </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-12">
          <div class="_nb_cd_er">
            <h2>Important Links</h2>
            <ol>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Contact Us</a></li>
            </ol>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-12">
          <div class="_nb_cd_er">
            <h2>Address</h2>
            <ul>
              <li><p>{{info.address}}</p></li>

              <li><p>{{info.email}}</p></li>
              <li><p>{{info.phone}}</p></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <section class="end-footer">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <div class="_jh_er_xs">
            <p>© 2020 Smart Layers. All Rights Reserved by <a href="#" target="_blank">SmartEye</a></p>
          </div>
        </div>

        <div class="col-6">
          <div class="_jh_er_xs _cc_ui">
            <p>Terms & Conditions<a href="#" target="_blank">Privacy Policy</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>